<header>
  <nav>
    <div>
      <a class="" href="/admin_foods">Home</a>
      <a class="" href="/orders">Orders</a>
    </div>
    <div>
      pikmiup
    </div>
    <div>
      <!-- Should say Hello, Admin OR Hello, User depending on who's logged in -->
      <span>Hello, <strong>Admin</strong></span>
      <a class="" href="/foods">logout</a>
    </div>
  </nav>
</header>
