<header>
  <nav class="navbar">
    <div class="nav-tab-spacing">
      <a class="" href="/foods">Home</a>
      <a class="" href="/order_status/admin/1">Orders</a>
    </div>

    <div id="logo-font">
      pikmiup
    </div>

    <div class="nav-tab-spacing">
      <a>Hello, <strong>Bob</strong></span>
      <a>Logout</a>
    </div>
    <div class="burger-icon">
      <i class="fa-solid fa-bars" ></i>
    </div>

  </nav>
</header>
