DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432
TWILIO_ACCOUNT_SID=AC896f03be126faf0bfb30aa1555fc4d41
TWILIO_AUTH_TOKEN=6dcb97e9a3971d35dc139c68f6e64602
