<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <h4>admin_orders.ejs template 🍱</h4>

<h2>Incoming order from Bob</h2>
<table>
  <tr>
    <td>Burrito</td>
    <td>x1</td>
    <td></td>
    <td>14.99</td>
  </tr>
  <tr>
    <td>Carbonara</td>
    <td>x2</td>
    <td></td>
    <td>37.98</td>
  </tr>
  <tr>
    <td>Milkshake</td>
    <td>x1</td>
    <td></td>
    <td>9.99</td>
  </tr>
  <tr>
    <td>Cake</td>
    <td>x2</td>
    <td></td>
    <td>21.98</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>Total: </td>
    <td>$82.94</td>
  </tr>
</table>

<p>Let <strong>Bob</strong> know how long until satisfaction.</p>

<button>
  Now | 10 mins | 20 mins | Custom
</button>

</body>

</html>
