<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin - Foods</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <!-- ALL EJS SHARE THESE -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/_global-variables.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />

  <!-- EJS SPECIFIC -->
  <link rel="stylesheet" href="/styles/form.css" />
  <link rel="stylesheet" href="/styles/food-card.css" />
  <link rel="stylesheet" href="/styles/your-cart.css" />

  <!-- EXTERNAL STUFF  -->
  <script src="https://kit.fontawesome.com/e21136580c.js" crossorigin="anonymous"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- EXTERNAL JS -->
  <script src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header-admin') %>

  <main>
    <div class="spacer"></div>
    <!-- <h4>admin_foods.ejs template - template 2 of 5</h4> -->
    <form class="add-form" action="/foods/admin" method="POST">
      <div class="form-header">
        <h1>Add New Item</h1>
      </div>
      <div class="add-form-fields">
        <div class="name-price-url">
          <input
            type="text"
            name="name"
            placeholder="eg. Mushroom Burger"
            required
          />
          <p class="form-text"> Name</p>
          <input
            placeholder="eg. 1499 (in cents)"
            type="number"
            name="price"
            required
          />
          <p class="form-text"> Price</p>
          <input
            type="url"
            name="image_url"
            placeholder="eg. https://yourimage.url/"
            required
          />
          <p class="form-text"> Image URL</p>
        </div>
        <div class="description-and-add-button">
          <div>
            <textarea
              name="description"
              placeholder="eg. grilled portobello mushroom, sourdough buns, house bread & butter pickles, toasted sesame, chipotle-pesto mayo, tamari drizzle"
            ></textarea>
            <p class="form-text"> Description</p>
          </div>
          <div>
            <button type="submit" class="form-button add-new-item-button" id="add">Add</button>
          </div>
        </div>
      </div>
    </form>


    <section class="food-card-container" id="admin">
    </section>
  </main>

  <%- include('partials/_footer') %>
</body>
</html>

