<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin - Foods</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <h4>admin_foods.ejs template - template 2 of 5</h4>

  <h1>Add new item</h1>

  <form class="form-inline justify-content-center" action="/foods/admin" method="POST">
    <div class="form-group mb-2">
      <input
        name="name"
        placeholder="eg. Mushroom Burger"
        style="width: 300px; margin: 1em"
      />
      <p>Name</p>

      <input
        name="price"
        placeholder="eg. $14.99"
        style="width: 300px; margin: 1em"
      />
      <p>Price</p>

      <input
      name="image_url"
      placeholder="eg. https://yourimage.url/"
      style="width: 300px; margin: 1em"
      />
      <p>Image URL</p>

      <textarea
      name="description"
      rows="3"
      cols="35"
      placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nis uisque nibh nulla, lacinia ut augue sit amet, dapibus convallis velit."
      ></textarea>
      <p>Description</p>

      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>

  <article>
    <span>
      <h2>Garlic Bread</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nis uisque nibh nulla, lacinia ut augue sit amet, dapibus convallis velit.</p>
      <div>
        <p>$8.99</p>
        <form method="GET" action="/foods/admin/:foodId">
          <button>Edit</button>
        </form>
        <form method="POST" action="/foods/admin/:foodId/delete">
          <button>Delete</button>
        </form>
      </div>
    </span>
    <span>
      <img
        alt="Garlic Bread"
        src="https://i.imgur.com/hmDLU55.png"
      ></img>
    </span>
  </article>

</body>
</html>

