<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <!-- ALL EJS SHARE THESE -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/_global-variables.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />

  <!-- EJS SPECIFIC -->
  <link rel="stylesheet" href="/styles/restaurant-title.css" />
  <link rel="stylesheet" href="/styles/food-card.css" />
  <link rel="stylesheet" href="/styles/your-cart.css" />

  <!-- EXTERNAL STUFF  -->
  <script src="https://kit.fontawesome.com/e21136580c.js" crossorigin="anonymous"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- EXTERNAL JS -->
  <script src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header-user') %>

  <main>
    <div class="spacer"></div>
    <!-- <h3> main /foods page that the customer sees - template 4 of 5</h3> -->

    <div class="restaurant-name">
      <h1 class="restaurant-title">Blackbeard's<br>Bar & Grill</h1>
      <div class="address">
        <i class="fa-solid fa-location-dot"></i>
        &nbsp; &nbsp; <h3> 2022 Lighthouse St.</h3>
      </div>
    </div>

    <!-- dynamic food "card" -->
    <section class="food-card-container" id="user">
    </section>

    <!-- have no end point yet, foods/3 is just a placeholder -->
    <form method="POST" action="/order_status">

      <div class="your-cart-form">

        <div class="form-header">
          <h1>Your Cart</h1>
        </div>

        <div class="your-cart-running-totals">
          <table class="cart" id="cart">
            <th class="cart-item-name">Item</th>
            <th class="quantity">Qty</th>
            <th class="total-column"></th>
            <th class="price"></th>
            <tr class="table-1 all-cart-rows">
              <td class="cart-item-name">Gourmet Pizza</td>
              <td class="quantity">0</td>
              <td class="total-column"></td>
              <td class="price">0</td>
            </tr>
            <tr class="table-2 all-cart-rows">
              <td class="cart-item-name">Carbonara</td>
              <td class="quantity">0</td>
              <td class="total-column"></td>
              <td class="price">0</td>
            </tr>
            <tr class="table-3 all-cart-rows">
              <td class="cart-item-name">Scallop Risotto</td>
              <td class="quantity">0</td>
              <td class="total-column"></td>
              <td class="price">0</td>
            </tr>
            <tr class="table-4 all-cart-rows">
              <td class="cart-item-name">Caesar Salad</td>
              <td class="quantity">0</td>
              <td></td>
              <td class="price">0</td>
            </tr>
            <tr class="table-5 all-cart-rows">
              <td class="cart-item-name">Garlic Bread</td>
              <td class="quantity">0</td>
              <td class="total-column"></td>
              <td class="price">0</td>
            </tr>
            <tr class="table-divider" >
              <td colspan="4" class="receipt-divider">
                <hr />
              </td>
            </tr>
            <tr id="cart-total">
              <td></td>
              <td></td>
              <td class="align-right-total total-column">Total:</td>
              <td id="total">0</td>
            </tr>
          </table>
        </div>

        <div>
          <p>Your satisfaction awaits, <strong>Bob.</strong></p>
        </div>

        <button class="form-button" id="place-order">
          Place Order
        </button>

      </div>

    </form>

  </main>
  <%- include('partials/_footer') %>

</body>

</html>
