<!DOCTYPE html>
<html lang="en">

<head>
  <title>Order</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <h4>order.ejs template - template 5 of 5</h4>

  <h2>Success! Your order has been placed</h2>
  <table>
    <tr>
      <td>Burrito</td>
      <td>x1</td>
      <td></td>
      <td>14.99</td>
    </tr>
    <tr>
      <td>Carbonara</td>
      <td>x2</td>
      <td></td>
      <td>37.98</td>
    </tr>
    <tr>
      <td>Milkshake</td>
      <td>x1</td>
      <td></td>
      <td>9.99</td>
    </tr>
    <tr>
      <td>Cake</td>
      <td>x2</td>
      <td></td>
      <td>21.98</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Total: </td>
      <td>$82.94</td>
    </tr>
  </table>

    <p><i>You will a receive an SMS text message with an <strong>estimated pick up time.</strong></i></p>

</body>

</html>
