$dark-teal: #035365;
$teal: #0085A2;
$aqua: #6298A4;
$grey: #4E4E4E;
$red: #C85F5F;
$nav-height: 5.7rem;
$logo-font-size: 2.3rem;
$logo-font-family: 'Fredoka', sans-serif;
$admin-font-family: 'roboto', sans-serif;
$logo-font-weight: bold;
