@import '_global-variables';

@media only screen and (max-width: 1400px) {
  .navbar {
    justify-content: space-between;
    padding-left: 3.3rem;
    padding-right: 3.3rem;
  }

  .nav-tab-spacing {
    background-color: aqua;
    color: red;
    display: none;
  }

  .burger-icon {
    display: block;
  }

  .admin-orders-main {
    padding-left: 10%;
    padding-right: 10%;
  }

  .food-card-image {
    padding-right: 9%;

    img {
      border-radius: 0;
    }
  }

}


@media only screen and (max-width: 1000px) {
  .description-and-add-button {
    margin-left: 0;
  }

  .name-price-url {
    margin-right: 0;
  }

  .food-card-article {
    display: flex;
    flex-direction: column-reverse;
  }

  .food-card-info {
    width: 100%;
  }

  .food-card-image {
    width: 100%;

    img {
      border-radius: 1.25rem 1.25rem 0 0;
    }
  }

  #place-order {
    width: 100%;
  }

  .add-form-fields {
    flex-direction: column;
  }

  #add {
    width: 100%;
    margin-bottom: 2rem;
  }

  .admin-orders {
    padding: 2.4rem 2rem;
    margin-bottom: 4rem;
  }

  main.admin-incoming-order-cart {
    margin-bottom: 3rem;
  }

  // .admin-order-item {
  //   margin-bottom: 3rem;
  // }

  .admin-order-message {
    align-items: center;
  }

  #targetMe {
    margin: 1.5rem 0;
  }

  .btn-primary {
    padding: 0.3rem 0.2rem;
  }


  .admin-orders-p {
    word-break: keep-all;
  }

  .admin-orders-foodname {
    padding-right: 2rem;
  }

  .admin-orders-total {
    margin-right: 7rem;
  }

  main {
    padding-left: 5%;
    padding-right: 5%;
  }

  .food-card-info {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .food-card-image {
    padding-right: 0;

    img {
      border-radius: 1.25rem 1.25rem 0 0;
    }
  }
}
