@import '_global-variables';

footer {
  // border: 3px solid rgb(21, 198, 60);
  display: flex;
  justify-content: center;
  background-color: $teal;
  color: white;
  position: absolute;
  width: 100%;
  min-width: 450px;
  text-align: center;
  height: 5vh;

  .devs {
    font-size: small;
    margin-top: 1rem;
  }
}
