// See: https://sass-lang.com/

body,
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
}

main {
  padding-left: 20rem;
  padding-right: 20rem;
}

// $borderColor : rgb(0, 195, 255);

// #testSelector {
//   border: 3px solid $borderColor;
// }
