@import '_global-variables';

.food-card-image {
  padding-right: 0;
}

.spacer {
  padding-top: 8rem;
}

// using this in both foods and admin_foods EJS templates
.form-header {
  // border: 3px solid rgb(238, 208, 76);
  flex-direction: row;
  align-self: flex-start;
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 2.5rem;
  margin-top: 16px;
}

// used in place order and add new item
.form-button {
  color: white;
  font-weight: 500;
  font-size: 1.26rem;
  background-color: $teal;
  border-radius: 0.5rem;
  border: none;
  padding-left: 3.12rem;
  padding-right: 3.12rem;
  transition-duration: 0.2s;
}

.form-button:hover {
  background-color: $dark-teal;
}

article {
  //border: 3px solid green;
  margin-bottom: 2.3rem;
}
