@import '_global-variables';

.food-card-image {
  padding-right: 0;
}

.spacer {
  padding-top: 8rem;
}

// using this in both foods and admin_foods EJS templates
.form-header {
  // border: 3px solid rgb(238, 208, 76);
  flex-direction: row;
  align-self: flex-start;
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 2.5rem;
  margin-top: 16px;
}

// used in place order and add new item
.form-button {
  color: white;
  font-weight: 500;
  font-size: 1.26rem;
  background-color: $teal;
  border-radius: 0.5rem;
  border: none;
  padding-left: 3.12rem;
  padding-right: 3.12rem;
  transition-duration: 0.2s;
}

.form-button:hover {
  background-color: $dark-teal;
}

article {
  //border: 3px solid green;
  margin-bottom: 2.3rem;
}

// ------- minha's code below ---------------

#admin-orders {
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  // align-items: center;
  padding: 2.4rem 5rem;
  font-family: $admin-font-family;
  color: white;
  background-color: #4E4E4E;
  border-radius: 1rem;
  min-width: 64rem;
  min-height: 33rem;
}

.admin-orders-title {
  margin-bottom: 0%;
}

.admin-orders-tb {
  // margin-top: 4.25rem;
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}

.admin-order-item {
  margin-bottom: 5rem;
}

.admin-orders-quantity {
  width: 15rem;
  font-size: 1.4rem;
}

.admin-orders-price {
  text-align: right;
  font-size: 1.4rem;
}

.admin-orders-foodname {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.admin-orders-bottom {
  display: flex;
  justify-content: flex-end;
  align-content: space-evenly;
}

.admin-orders-total {
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 9.4rem;
}

.admin-orders-total-price {
  font-size: 1.4rem;
}

.admin-orders-p,
.admin-orders-p-pressed {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.7rem;
  margin-bottom: 2.2rem;
  font-size: 1.5rem;
}

.btn-primary {
  background-color: $teal;
  height: 2.4rem;
  font-size: 1.5rem;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-primary:hover {
  background-color: $dark-teal;
}

#targetMe {
  margin: 3rem 0;
  text-align: center;
}
