$teal: #0085A2;
$aqua: #6298A4;
$grey: #4E4E4E;
$nav-height: 5.7rem;
$logo-font-size: 2.3rem;
$logo-font-family: 'Fredoka', sans-serif;
$logo-font-weight: bold;
$h1: 3rem;
$height: 360px;
$admin-font-family: 'roboto', sans-serif;

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;

  height: $nav-height;
  background-color: $teal;
  color: white;
  padding-left: 20rem;
  padding-right: 20rem;

  a {
    margin-left: 2rem;
    font-size: 1.5rem;
    margin-right: 2rem;
  }

  a:link {
    text-decoration: none;
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    color: white;
  }

  #logo-font {
    //border: 3px solid rgb(81, 65, 224);

    font-family: $logo-font-family;
    font-size: $logo-font-size;
    font-weight: $logo-font-weight;
    color: white;
  }
}

.spacer {
  padding-top: 8rem;
}

.restaurant-title {
  font-size: 64px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.add-form {
  // border: 3px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  background-color: $grey;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  border-radius: 1.25rem;
  margin-bottom: 2.3rem;
}

.form-header {
  // border: 3px solid rgb(238, 208, 76);
  flex-direction: row;
  align-self: flex-start;
  margin-bottom: 1.25rem;
}

h1 {
  font-size: $h1;
}

.add-form-fields {
  // border: 3px solid rgb(81, 65, 224);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.name-price-url {
  // border: 3px solid green;
  width: 100%;
  margin-right: 4rem;
}

.description-add-button {
  // border: 3px solid orange;
  width: 100%;
  margin-left: 4rem;
}

input,
textarea {
  width: 100%;
  border-radius: 0.44rem;
  border: none;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

input {
  height: 1.94rem;
}

textarea {
  resize: none;
  height: 5.5rem;
}

.form-text {
  color: white;
  font-weight: 500;
  font-size: 1.26rem;
}

.form-button {
  color: white;
  font-weight: 500;
  font-size: 1.26rem;
  background-color: $teal;
  border-radius: 0.5rem;
  border: none;
  padding-left: 3.12rem;
  padding-right: 3.12rem;
}

.address {
  color: #999999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 2.3rem;

  i {
    font-size: 2rem;
  }
}

article {
  //border: 3px solid green;
  margin-bottom: 2.3rem;
}

.food-card-article {
  //border: 3px solid rgb(160, 61, 206);
  display: flex;
  flex-direction: row;
  border-radius: 1.25rem;
  background-color: $aqua;
  color: white;
}

.food-card-info {
  //border: 3px solid rgb(224, 240, 81);
  display: flex;
  flex-direction: column;

  justify-content: center;
  // justify-content: space-evenly;

  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  width: 50%;
}

.food-card-info-1 {
  // border: 3px solid blue;
}

.food-card-info-2 {
}

.food-card-info-3 {
  // border: 3px solid rgb(148, 173, 5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    font-size: 1.26rem;
    font-weight: 500;
  }
}

.delete {
  color: white;
  font-weight: 500;
  font-size: 1.26rem;
  background-color: #035365;
  border-radius: 0.5rem;
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

.food-card-image {
  // border: 3px solid blue;
  width: 50%;
  display: flex;
  align-items: center;

  img {
    min-width: 100%;
    max-width: 100%;
    max-height: auto;
    border-radius: 0 1.25rem 1.25rem 0;
  }
}

.restaurant-name {
  color: #4E4E4E;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: -5rem;
}

.minus,
.plus {
  color: white;
  font-weight: 500;
  font-size: 1.26rem;
  background-color: #035365;
  border-radius: 0.5rem;
  border: none;
  width: 2rem;
  height: 2rem;
}

.button-type {
  // border: 3px solid red;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 8rem;
  justify-content: space-evenly;
}

.your-cart-form {
  // border: 3px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey;
  color: white;
  border-radius: 1.25rem;
  margin-bottom: 2.3rem;
  padding-bottom: 2.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.your-cart-running-totals {
  display: flex;
  // border: 3px solid blue;
  width: 100%;
  justify-content: center;

  .cart {
    // border: 3px solid rgb(21, 198, 60);
    width: 100%;
  }

}

.align-right {
  // border: 3px solid rgb(21, 198, 60);
  text-align: right;
}

.price,
#total {
  text-align: right;
}

.price,
.quantity {
  // border: 3px solid rgb(21, 198, 60);
  width: 10%;
}

th,
.cart-item-name,
.align-right,
#total {
  font-weight: 500;
}

footer {
  // border: 3px solid rgb(21, 198, 60);
  background-color: $teal;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 5vh;

  .devs {
    margin-top: 1rem;
  }
}

#testt {
  color: white;
}

.burger-icon {
  font-size: 2rem;
  display: none;
}

#admin-orders {
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  // align-items: center;
  padding: 2.4rem 8.5rem;
  font-family: $admin-font-family;
  color: white;
  background-color: #4E4E4E;
  border-radius: 1rem;
  min-width: 64rem;
  min-height: 33rem;
}

.admin-orders-title {
  margin-bottom: 0%;
}

.admin-orders-tb {
  // margin-top: 4.25rem;
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}

.admin-order-item {
  margin-bottom: 5rem;
}

.admin-orders-quantity {
  width: 15rem;
  font-size: 1.4rem;
}

.admin-orders-price {
  text-align: right;
  font-size: 1.4rem;
}
.admin-orders-foodname {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.admin-orders-bottom {
  display: flex;
  justify-content: flex-end;
  align-content: space-evenly;
}

.admin-orders-total {
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 9.4rem;
}

.admin-orders-total-price {
  font-size: 1.4rem;
}

.admin-orders-p, .admin-orders-p-pressed {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.7rem;
  margin-bottom: 2.2rem;
  font-size: 1.5rem;
}

.btn-primary {
  background-color: #0085A2;
  height: 2.4rem;
  font-size: 1.5rem;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-primary:hover {
  background-color: #035365;
}


// BREAKPOINTS BELOW

@media only screen and (max-width: 1400px) {
  .navbar {
    padding-left: 3.3rem;
    padding-right: 3.3rem;
  }

  .nav-tab-spacing {
    background-color: aqua;
    color: red;
    display: none;
  }

  .burger-icon {
    display: block;
  }
}


@media only screen and (max-width: 1000px) {

  .food-card-article {
    display: flex;
    flex-direction: column-reverse;
  }

  .food-card-info {
    width: 100%;
  }

  .food-card-image {
    width: 100%;

    img {
      border-radius: 1.25rem 1.25rem 0 0;
    }
  }

  #place-order {
    width: 100%;
  }

  #admin-orders {
    padding: 4rem;
    min-width: 50rem;
  }

  .add-form-fields {
    flex-direction: column;
  }

  .name-price-url {
    margin-right: 0;
  }

  .description-add-button {
    margin-left: 0;
  }

  #admin-orders {
    padding: 4rem;
    min-width: 37rem;
  }

  .admin-orders-quantity {
    text-align: center;
  }

  main {
    padding-left: 5%;
    padding-right: 5%;
  }

}



// @media only screen and (max-width: 900px) {

//   // test
//   // .navbar {
//   //   background-color: coral;
//   // }

//   .add-form-fields {
//     flex-direction: column;
//   }

//   .name-price-url {
//     margin-right: 0;
//   }

//   .description-add-button {
//     margin-left: 0;
//   }

//   #admin-orders {
//     padding: 4rem;
//     min-width: 37rem;
//   }

//   .admin-orders-quantity {
//     text-align: center;
//   }

//   main {
//     padding-left: 5%;
//     padding-right: 5%;
//   }

// }

// @media only screen and (max-width: 600px) {

//   .food-card-info {
//     padding-left: 2rem;
//     padding-right: 2rem;
//   }

//   .add-form {
//     padding-left: 2rem;
//     padding-right: 2rem;
//   }

//   .food-card-image {
//     img {
//       border-radius: 1.25rem 1.25rem 0 0;
//     }
//   }

//   .cart-place-order-button {
//     width: 100%
//   }

//   main {
//     padding-left: 5%;
//     padding-right: 5%;
//   }

//   #admin-orders {
//     padding: 4rem;
//     min-width: 31rem;
//     padding: 1rem 1rem;
//   }

//   .admin-orders-quantity {
//     text-align: center;
//   }

// }
