@import '_global-variables';

.navbar {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  z-index: 1;

  height: $nav-height;
  background-color: $teal;
  color: white;

  a,
  span {
    margin-left: 2rem;
    font-size: 1.5rem;
    margin-right: 2rem;
  }

  a {
    font-weight: 500;
  }

  a:link {
    text-decoration: none;
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    color: white;
  }

  #logo-font {
    //border: 3px solid rgb(81, 65, 224);

    font-family: $logo-font-family;
    font-size: $logo-font-size;
    font-weight: $logo-font-weight;
    color: white;
  }

  .fa-circle {
    color: $red;
    font-size: x-small;
    margin-left: 0px;
    position: absolute;
    top: 1.9rem;
  }

}

.burger-icon {
  font-size: 2rem;
  display: none;
}
