@import '_global-variables';

.btn-group, btn{
  height: 2rem;
  width: 100%;
}

.admin-orders {
  // border: 3px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.4rem 5rem;
  font-family: $admin-font-family;
  color: white;
  background-color: #4E4E4E;
  border-radius: 1rem;
}

.admin-orders-title {
  margin-bottom: 0%;
}

.admin-orders-tb {
  // margin-top: 4.25rem;
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}

.admin-order-item {
  margin-bottom: 5rem;
}

.admin-orders-quantity {
  width: 15rem;
  font-size: 1.4rem;
}

.admin-orders-price {
  text-align: right;
  font-size: 1.4rem;
}

.admin-orders-foodname {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.admin-orders-bottom {
  display: flex;
  justify-content: flex-end;
  align-content: space-evenly;
}

.admin-orders-total {
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 9.4rem;
}

.admin-orders-total-price {
  font-size: 1.4rem;
}

.admin-orders-p,
.admin-orders-p-pressed {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.7rem;
  margin-bottom: 2.2rem;
  font-size: 1.4rem;
}

.btn-primary {
  background-color: $teal;
  height: 2.4rem;
  font-size: 1.4rem;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-primary:hover {
  background-color: $dark-teal;
}

#targetMe {
  margin: 3rem 0;
  text-align: center;
}

.admin-orders-main {
  padding-left: 15%;
  padding-right: 15%;
}
